@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

a {
  @apply no-underline;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 300px
    ),
    fixed 0 0 / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
}

.dark body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #111 300px),
    fixed 0 0 / 20px 20px radial-gradient(#313131 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#313131 1px, transparent 0);
}

/* emoji background reset */
html.js-focus-visible.dark h1 span,
html.js-focus-visible.dark h2 span,
html.js-focus-visible.dark h3 span,
html.js-focus-visible.dark h4 span,
html.js-focus-visible.dark h5 span,
html.js-focus-visible.dark h6 span,
html.js-focus-visible.light h1 span,
html.js-focus-visible.light h2 span,
html.js-focus-visible.light h3 span,
html.js-focus-visible.light h4 span,
html.js-focus-visible.light h5 span,
html.js-focus-visible.light h6 span {
  background: transparent;
  -webkit-text-fill-color: #fff;
}

html.js-focus-visible.dark h1,
html.js-focus-visible.dark h2,
html.js-focus-visible.dark h3,
html.js-focus-visible.dark h5,
html.js-focus-visible.dark h6 {
  font-weight: bold;
  background: #c02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c02425,
    #f0cb35
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c02425,
    #f0cb35
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html.js-focus-visible.light h1,
html.js-focus-visible.light h2,
html.js-focus-visible.light h3,
html.js-focus-visible.light h5,
html.js-focus-visible.light h6 {
  font-weight: bold;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c02425,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Logo CSS */

html.js-focus-visible.light .logo.dark {
  display: none;
}

html.js-focus-visible.dark .logo.light {
  display: none;
}

html.js-focus-visible.light .logo.light {
  width: 20%;
}

html.js-focus-visible.light .logo.light .logo-img.small {
  display: none;
}

@media screen and (max-width: 768px) {
  html.js-focus-visible.light .logo.light .logo-img.small {
    display: block;
    width: 100%;
  }

  html.js-focus-visible.light .logo.light .logo-img {
    display: none;
  }
}

html.js-focus-visible.dark .logo.dark {
  width: 20%;
}

html.js-focus-visible.dark .logo.dark .logo-img.small {
  display: none;
}

@media screen and (max-width: 768px) {
  html.js-focus-visible.dark .logo.dark .logo-img.small {
    display: block;
    width: 100%;
  }

  html.js-focus-visible.dark .logo.dark .logo-img {
    display: none;
  }
}

/* code css */

.token-line .token {
  font-family: 'Fira Mono', monospace;
}

.rounded-full {
  border-radius: 100%;
}